@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  color: var(--main);
  background: var(--secondary);
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --main: #c9ac8c;
  --secondary: #181616;
  --background1: #2d2927;
  --background2: #1a1919;
  --border: #ffffff;
  --cardBackground: #232121;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

#forYouMenu .active {
  font-weight: 900;
  background: none;
}

.menu.no-flash .menu-item:active {
  background-color: transparent;
}

#aboutUs .swiper-pagination {
}

.swiper-pagination-bullet {
  background-color: #ccc; /* Default bullet color */
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet-active {
  background-color: transparent; /* Ensures background is not filled */
  border: 2px solid #007aff; /* Ring color */
  width: 16px;
  height: 16px;
}

iconify-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.slide-in {
  animation: slideIn 0.3s forwards;
}

.slide-out {
  animation: slideOut 0.3s forwards;
}

.modal-enter {
  opacity: 0;
  transform: translateX(10%);
}

.modal-exit {
  opacity: 0;
  transform: translateX(-10%);
}

@keyframes modalExitToLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-10%);
    opacity: 0;
  }
}

@keyframes modalEnterFromRight {
  0% {
    transform: translateX(10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.modal-exit {
  animation: modalExitToLeft 400ms forwards;
}

.modal-enter {
  animation: modalEnterFromRight 400ms forwards;
}

.edge-fade-right {
  -webkit-mask-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 12%
  );
  mask-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 12%
  );
}

.edge-fade-left {
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 12%
  );
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 12%
  );
}
