/* Seat styling */

.seat-interactive {
  stroke: #c9ac8c;
}

.seat-minimap {
  opacity: 0.3;
  stroke: #000;
}

.seat-minimap,
.seat-interactive {
  fill: #c9ac8c;
  fill-opacity: 0;
  stroke-miterlimit: 10;
  z-index: 10;
}

.seat-number {
  fill: #c9ac8c;
  font-size: 6px;
  fill-opacity: 100;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}

.seat-group {
  cursor: pointer;
}

.seat-number-picked {
  fill: #000;
}

.seat-circle-picked {
  fill-opacity: 1;
}

.seat-circle-booked {
  fill-opacity: 1;
  fill: #979797;
}

.seat-number-booked {
  fill: #4b4b4b;
}

/* zone styling */
.zone-minimap {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  transform-origin: 50% 50%;
  transform-box: fill-box;
}

.zone-minimap:hover {
  opacity: 0.8;
}

.zone-interactive {
  opacity: 0.2 !important;
  pointer-events: none;
}

.zone-A,
.zone-B,
.zone-C,
.zone-D,
.zone-E,
.zone-F {
  opacity: 0.5;
}

.zone-A {
  fill: #9851be;
}

.zone-B {
  fill: #ffdfa7;
}

.zone-C {
  fill: #9fe2a7;
}

.zone-D {
  fill: #9f7ea7;
}

.zone-E {
  fill: #4867d4;
}

.zone-F {
  fill: #dd5b3e;
}

.line {
  stroke: #c9ac8c;
  fill: #c9ac8c;
}

.general {
  color: #c9ac8c;
}

.text,
.text-stage,
.text-zone,
.seat-legend,
.text-side {
  fill: #c9ac8c;
  pointer-events: none;
  fill-opacity: 100;
}

.text,
.text-side {
  font-weight: 700;
}

.text-side {
  font-size: 12px;
}

.text-zone {
  font-size: 9.24px;
}

.seat-legend {
  font-size: 9.11px;
}

.text-stage {
  font-size: 22.64px;
  font-weight: 700;
}
