/* .circle {
  fill: #000;
  fill-opacity: 0;
  stroke: #000;
  stroke-miterlimit: 10;
} */

.zone-F {
  fill: #ea2b00;
  opacity: 0.5;
}

.zone-G {
  fill: #0038ff;
  opacity: 0.5;
}

.zone-C {
  fill: #ffdfa7;
  opacity: 0.5;
}

.zone-AnB {
  fill: #640b93;
  opacity: 0.5;
}

.zone-E {
  fill: #9f7ea7;
  opacity: 0.5;
}

.zone-D {
  fill: #9fe2a7;
  opacity: 0.5;
}

.line {
  stroke: #c9ac8c;
  fill: #c9ac8c;
}

.general {
  color: #c9ac8c;
}

.text,
.text-stage,
.text-zone,
.seat-legend,
.text-side {
  fill: #c9ac8c;
  pointer-events: none;
  fill-opacity: 100;
}

.text,
.text-side {
  font-weight: 700;
}

.text-side {
  font-size: 12px;
}

.text-zone {
  font-size: 9.24px;
}

.seat-legend {
  font-size: 9.11px;
}

.text-stage {
  font-size: 22.64px;
  font-weight: 700;
}

.seat-number {
  fill: #000;
  font-size: 6px;
  fill-opacity: 100;
  -webkit-user-select: none;
  user-select: none;
}
